.input-wrapper {
  background-color: white;
  opacity: 85%;
  border-color: #CACCDA;
  width: 100%;
  border-radius: 10px;
  height: 64px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 16px;
  width: 100%;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4D557A;
}

input:focus {
  outline: none;
}

#search-icon {
  color: #3C59FF;
}

.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cross-icon {
  color: #3C59FF;
}

#cross-icon:hover {
  cursor: pointer;
}

.circle:hover {
    background-color: rgba(0, 0, 0, .1);
}
