.search-result {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: inherit;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.container-column {
  display: inline-block;
  width: calc(100% - 55px);
}

.search-result:hover {
  background-color: #efefef;
  cursor: pointer;
}

.search-result img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 480px) { 
  .search-result img  { 
    display: none; 
  }
  .container-column {
    width: 100%;
  }
}

.result-title {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.result-date {
  color: #666;
}
