.input-wrapper {
  background-color: white;
  opacity: 85%;
  border-color: #caccda;
  width: 100%;
  border-radius: 8px;
  height: 64px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 10px 0px rgba(44, 71, 223, 25%),
    inset 0px -1px 0px 0px rgba(0, 0, 0, 20%),
    inset 0px 1px 0px 0px rgba(255, 255, 255, 30%);
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 16px;
  width: 100%;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4d557a;
}

input:focus {
  outline: none;
}

#search-icon {
  color: #3c59ff;
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cross-icon {
  color: #3c59ff;
}

#cross-icon:hover {
  cursor: pointer;
}

.circle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
