.search-result {
  padding: 10px 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: inherit;
}

.search-result:hover {
  background-color: #efefef;
  cursor: pointer;
}

.search-result img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}

.result-date {
  color: #666;
}
